{% extends "base.html" %}

{% block title %}Settings - Leosac Web GUI{% endblock %}
{% block page_title %}Settings{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">System Settings</h5>
                </div>
                <div class="card-body">
                    <p>System settings and configuration will be implemented here.</p>
                    <div class="alert alert-info">
                        <i class="fas fa-info-circle"></i>
                        This section will allow you to configure system settings and preferences.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 